{% extends "base.html" %}

{% block site_meta %}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  {% if page and page.meta and page.meta.description %}
  <meta name="description" content="{{ page.meta.description }}" />
  {% elif config.site_description %}
  <meta name="description" content="{{ config.site_description }}" />
  {% endif %}
  {% if page and page.meta and page.meta.author %}
  <meta name="author" content="{{ page.meta.author }}" />
  {% elif config.site_author %}
  <meta name="author" content="{{ config.site_author }}" />
  {% endif %}
  {% if page.canonical_url %}
  <link rel="canonical" href="{{ page.canonical_url }}" />
  {% endif %}
  <link rel="apple-touch-icon" sizes="180x180" href="{{ page.canonical_url ~ 'apple-touch-icon.png' | url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ page.canonical_url ~ 'favicon-32x32.png' | url }}">
  <link rel="icon" type="image/png" sizes="192x192" href="{{ page.canonical_url ~ 'android-chrome-192x192.png' | url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ page.canonical_url ~ 'favicon-16x16.png' | url }}">
  <link rel="manifest" href="{{ page.canonical_url ~ 'site.webmanifest' | url }}">
  <link rel="mask-icon" href="{{ page.canonical_url ~ 'safari-pinned-tab.svg' | url }}" color="#aea809">
  <meta name="apple-mobile-web-app-title" content="ChordFlower Wiki">
  <meta name="application-name" content="ChordFlower Wiki">
  <meta name="msapplication-TileColor" content="#ffc40d">
  <meta name="msapplication-TileImage" content="{{ page.canonical_url ~ 'mstile-144x144.png' | url }}">
  <meta name="theme-color" content="#656565">
  <!-- <script type="module">
    import 'https://cdn.jsdelivr.net/npm/@pwabuilder/pwaupdate'
    const el = document.createElement( 'pwa-update' )
    document.body.appendChild( el );
  </script> -->
  <script type="module">
    navigator.serviceWorker.register( './simple_service_worker.js', {
      type: 'module',
    } ).then( function ( serviceWorkerRegistration ) {
      console.log( 'Service worker is installed' )
    } ).catch( function ( error ) {
      console.log( 'Service worker registration failed:', error )
      console.dir( error )
    } );
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/8.14.0-rc1/mermaid.min.js"></script>
{% endblock %}
